## О Jupyter notebook

Jupyter Notebook — это среда разработки, где сразу можно видеть результат выполнения кода и его отдельных фрагментов. Отличие от традиционной среды разработки в том, что код можно разбить на куски и выполнять их в произвольном порядке.
Для запуска кода в ячейке можно воспользоваться меню сверху или нажать клавиши "Enter+Shift".

Основная область применения ноутбуков — машинное обучение, нейросети, визуализация данных и статистика.

Ещё такую среду часто используют для поэтапной разработки, когда нужно по шагам проверять работу разных фрагментов кода. Дело в том, что код в ноутбуках хранится в независимых ячейках и его можно запускать в любом порядке или поодиночке. Это позволяет быстро экспериментировать с алгоритмами и находить оптимальное решение.

Также jupyter-ноутбуки используются при обучении программированию на Python, чтобы писать код и сразу видеть результат его работы.

Есть два основных типа ячеек, которые мы рассмотрим:

- Ячейка кода содержит код, который должен быть выполнен в ядре, и отображает его вывод ниже.
- Ячейка Markdown содержит текст, отформатированный с использованием Markdown, и отображает его вывод на месте при запуске.

In [2]:
# ячейка с кодом, при выполнении которой появится output
2 + 2

4

А это ___ячейка с текстом___.

Ячейка с неразмеченыным текстом.

Попробуйте создать свои ячейки, написать какой-нибудь код и текст какой-нибудь формулой.

In [3]:
1 + 1

2

Текст

# Текст
## Текст
### Текст

[Здесь](https://athena.brynmawr.edu/jupyter/hub/dblank/public/Jupyter%20Notebook%20Users%20Manual.ipynb) находится <s>не</s>большая заметка о используемом языке разметки Markdown. Он позволяет:

0. Составлять упорядоченные списки
1. #Делать 
##заголовки 
###разного уровня
3. Выделять *текст* <s>при</s> **необходимости**
4. Добавлять [ссылки](http://imgs.xkcd.com/comics/the_universal_label.png)


* Составлять неупорядоченные списки

Делать вставки с помощью LaTex:
    
$
\left\{
\begin{array}{ll}
x = 16 \sin^3 (t) \\ 
y = 13 \cos (t) - 5 \cos (2t) - 2 \cos (3t) - \cos (4t) \\
t \in [0, 2 \pi]
\end{array}
\right.$

## 1. Табличные данные и Pandas

Pandas — это библиотека для работы с данными на Python. Она упрощает жизнь аналитикам: где раньше использовалось 10 строк кода теперь хватит одной.

Например, чтобы прочитать данные из csv, в стандартном Python надо сначала решить, как хранить данные, затем открыть файл, прочитать его построчно, отделить значения друг от друга и очистить данные от специальных символов.

В Pandas всё проще. Во-первых, не нужно думать, как будут храниться данные — они лежат в датафрейме. Во-вторых, достаточно написать одну команду:

 data = pd.read_csv('file.csv')

Pandas добавляет в Python новые структуры данных — серии и датафреймы. 

Серии — одномерные массивы данных. Они очень похожи на списки, но отличаются по поведению — например, операции применяются к списку целиком, а в сериях — поэлементно.
Еще одно отличие серий от списков — в качестве индексов можно использовать произвольные значения, это делает данные нагляднее.
Датафрейм — это проиндексированный многомерный массив значений, соответственно каждый столбец датафрейма, является серией.

In [4]:

import pandas as pd

#### 1. Прочитайте файл с таблицей, выведите последние 10 строк.

In [5]:
data = pd.read_csv('data for lab 1.csv')
data.tail(10)

,event_time,order_id,product_id,category_id,category_code,brand,price,user_id
2633511,2020-11-21 10:05:04 UTC,2388440981134693938,1515966223509088509,2.268105e+18,electronics.smartphone,apple,925.67,1.515916e+18
2633512,2020-11-21 10:06:01 UTC,2388440981134693939,1515966223509090132,2.268105e+18,computers.peripherals.printer,canon,299.98,1.515916e+18
2633513,2020-11-21 10:08:14 UTC,2388440981134693940,2273948246856434093,2.268105e+18,NaN,xiaomi,16.18,1.515916e+18
2633514,2020-11-21 10:08:54 UTC,2388440981134693941,1515966223519279912,2.374499e+18,electronics.video.tv,samsung,1736.09,1.515916e+18
2633515,2020-11-21 10:08:54 UTC,2388440981134693941,1515966223509088622,2.374499e+18,electronics.video.tv,lg,370.35,1.515916e+18
2633516,2020-11-21 10:10:01 UTC,2388440981134693942,1515966223526602848,2.268105e+18,electronics.smartphone,oppo,138.87,1.515916e+18
2633517,2020-11-21 10:10:13 UTC,2388440981134693943,1515966223509089282,2.268105e+18,electronics.smartphone,apple,418.96,1.515916e+18
2633518,2020-11-21 10:10:30 UTC,2388440981134693944,1515966223509089917,2.268105e+18,appliances.personal.scales,vitek,12.48,1.515916e+18
2633519,2020-11-21 10:10:30 UTC,2388440981134693944,2273948184839454837,2.268105e+18,NaN,moulinex,41.64,1.515916e+18
2633520,2020-11-21 10:10:30 UTC,2388440981134693944,1515966223509127566,2.268105e+18,appliances.kitchen.blender,redmond,53.22,1.515916e+18

#### 2.  Выведите следующую информацию:
1. Сколько всего заказов в исходной выборке данных?
2. Количество уникальных категорий товара (category_code)

In [6]:
data = pd.read_csv('data for lab 1.csv')
print(len(data['order_id'].unique()))
len(pd.unique(data['category_code']))

1435266

511

#### 3. Найдите столбцы с пустыми значениями, заполните строковые значения пустой строкой, числовые - 0.

In [7]:
data.price = data.price.fillna(0) 
data = data.fillna('') 
data[-10:]

,event_time,order_id,product_id,category_id,category_code,brand,price,user_id
2633511,2020-11-21 10:05:04 UTC,2388440981134693938,1515966223509088509,2268105428166509056.0,electronics.smartphone,apple,925.67,1515915625514846976.0
2633512,2020-11-21 10:06:01 UTC,2388440981134693939,1515966223509090132,2268105407933187072.0,computers.peripherals.printer,canon,299.98,1515915625494009344.0
2633513,2020-11-21 10:08:14 UTC,2388440981134693940,2273948246856434093,2268105407404704768.0,,xiaomi,16.18,1515915625470243072.0
2633514,2020-11-21 10:08:54 UTC,2388440981134693941,1515966223519279912,2374498914000592384.0,electronics.video.tv,samsung,1736.09,1515915625513809920.0
2633515,2020-11-21 10:08:54 UTC,2388440981134693941,1515966223509088622,2374498914000592384.0,electronics.video.tv,lg,370.35,1515915625513809920.0
2633516,2020-11-21 10:10:01 UTC,2388440981134693942,1515966223526602848,2268105428166509056.0,electronics.smartphone,oppo,138.87,1515915625514888704.0
2633517,2020-11-21 10:10:13 UTC,2388440981134693943,1515966223509089282,2268105428166509056.0,electronics.smartphone,apple,418.96,1515915625514891264.0
2633518,2020-11-21 10:10:30 UTC,2388440981134693944,1515966223509089917,2268105402447037440.0,appliances.personal.scales,vitek,12.48,1515915625514834176.0
2633519,2020-11-21 10:10:30 UTC,2388440981134693944,2273948184839454837,2268105440371933952.0,,moulinex,41.64,1515915625514834176.0
2633520,2020-11-21 10:10:30 UTC,2388440981134693944,1515966223509127566,2268105441101742848.0,appliances.kitchen.blender,redmond,53.22,1515915625514834176.0

#### 4.  Обратите внимание на колонку, содержащую цену товара. Создайте новую колонку, таким образом, чтобы цена стала числом.

Для этого необходимо применить функцию-преобразование к каждой строке таблицы (для этого есть соответствующая функция).

In [8]:
data['price_new'] = data['price'].copy() 
data['price_new'] = data['price_new'].astype('float')
data.dtypes

event_time        object
order_id           int64
product_id         int64
category_id       object
category_code     object
brand             object
price            float64
user_id           object
price_new        float64
dtype: object

Выведите среднюю/минимальную/максимальную цену у товара.

In [9]:
data["price_new"].agg(["min", "mean", "max"])

min         0.000000
mean      128.818577
max     50925.900000
Name: price_new, dtype: float64

Удалите старую колонку с ценой.

In [10]:
data = data.drop(columns = ['price'], axis = 1)

In [11]:
data.dtypes

event_time        object
order_id           int64
product_id         int64
category_id       object
category_code     object
brand             object
user_id           object
price_new        float64
dtype: object

#### 5. Отсортируйте стоимость товаров по убыванию, выведите 7 дорогих товаров. Отсортируйте товары по возрастанию стоимости, выведите 7 дешевых товаров  (по choice_description)

Для этого избавьтесь от дубликатов и отсортируйте товары. Не забудьте про количество товара.

In [12]:
data.sort_values('price_new', ascending=False).head(7) #если фолс по убыванию

,event_time,order_id,product_id,category_id,category_code,brand,user_id,price_new
1144303,2020-05-26 08:12:38 UTC,2353234364520727464,1515966223509105016,2374498914000592384.0,electronics.video.tv,samsung,,50925.90
28182,2020-06-25 10:08:37 UTC,2339244674033647628,1515966223509131884,2374498914000592384.0,electronics.video.tv,,1515915625465546752.0,18328.68
28623,2020-06-26 09:10:44 UTC,2339940319191106553,1515966223509566954,2374498914000592384.0,electronics.video.tv,,1515915625465546752.0,13310.16
1627981,2020-07-03 11:59:01 UTC,2353288509000777918,2273948305316643078,2268105422957183232.0,electronics.video.tv,lg,1515915625484619008.0,11574.05
1153319,2020-05-27 06:37:30 UTC,2353235498996073224,2273948305316643078,2268105422957183232.0,electronics.video.tv,lg,,11574.05
2270999,2020-09-16 06:46:10 UTC,2388440981134484484,1515966223520801280,2374498914000592384.0,electronics.video.tv,samsung,1515915625478269952.0,10416.64
8742,2020-05-14 09:09:41 UTC,2308774433587724743,1515966223509105377,2268105423133344000.0,electronics.smartphone,lg,1515915625458929664.0,9606.48

In [13]:
data.sort_values('price_new', ascending=True).head(7)

,event_time,order_id,product_id,category_id,category_code,brand,user_id,price_new
758497,2020-03-08 05:10:15 UTC,2348815503625027987,1515966223523303301,,16.18,,,0.0
2204350,2020-09-10 14:26:07 UTC,2388440981134446909,1515966223523303308,,29.63,,,0.0
345450,2020-02-03 05:11:18 UTC,2348785157516821140,1515966223509266737,,0.00,,,0.0
1209904,2020-06-01 09:51:14 UTC,2353242210981380669,1515966223527009156,,0.81,,,0.0
345447,2020-02-04 12:10:49 UTC,2348785157105779346,1515966223527240565,,14.33,,,0.0
1209911,2020-06-01 12:27:17 UTC,2353242211258204736,1515966223527009196,,11.57,,,0.0
1209912,2020-06-01 12:27:17 UTC,2353242211258204736,1515966223527459989,,17.36,,,0.0

#### 6. Выведите информацию о том, сколько раз клиенты покупали больше 1 товара apple (brand)?

In [14]:
data1 = data.loc[data['brand'] == 'apple']
users=data1['user_id'] #оставляем столбик юзер айди
n = users.value_counts()>1 #value_counts - сколько раз встречается значение
print(n.sum()) #считаем сумму

7141

#### 7. Выведите информацию о среднем чеке у заказа и сколько в среднем товаров покупают?

Если необходимо провести вычисления в терминах заказов, то будет удобно сгруппировать строки по заказам и посчитать необходимые значения.

In [15]:
data1 = data.groupby('order_id').count() # подсчитываем кол-во значений каждого столбца для каждого заказа
print(data1["product_id"].mean()) # находим средее количесвто товаров для каждого заказа

group = data.groupby(['order_id'])
print(group['price_new'].sum().mean())

1.8348661502467138
236.3648464535493

#### 8. Выведите количество заказов с 1 товаром.

In [16]:
data1 = data.groupby('order_id').count()     # подсчитываем кол-во значений каждого столбца для каждого заказа 
data1['product_id'].eq(1).sum()            # выводим сумму строк (order_id) где product_id равно 1

871751

#### 9. Выведите самую популярную категорию товара.

In [17]:
data['category_code'].value_counts().reset_index().iloc[0]['index']

''

#### 10. Выведите виды товаров Apple. Какой из них чаще всего покупают? Какой из них самый дорогой?

In [18]:
data1 = data.loc[data['brand'] == 'apple']
print(data1['category_code'].unique())

['electronics.smartphone' 'electronics.audio.headphone'
 'electronics.clocks' '' 'computers.notebook' 'electronics.tablet'
 'construction.tools.screw' 'computers.components.hdd' 'computers.desktop'
 'computers.peripherals.keyboard' 'computers.peripherals.mouse'
 'computers.components.cooler']

In [20]:
data2 = data1.groupby('category_code').count()
product=data2[data2['product_id']==data2['product_id'].max()]
print(product.index)

                                event_time  order_id  product_id  category_id  \
category_code
                                      4059      4059        4059         4059
computers.components.cooler            217       217         217          217
computers.components.hdd               725       725         725          725
computers.desktop                      174       174         174          174
computers.notebook                    3922      3922        3922         3922
computers.peripherals.keyboard         127       127         127          127
computers.peripherals.mouse            256       256         256          256
construction.tools.screw              1254      1254        1254         1254
electronics.audio.headphone           9568      9568        9568         9568
electronics.clocks                    5799      5799        5799         5799
electronics.smartphone               46030     46030       46030        46030
electronics.tablet                    2578      2578        2578         2578

                                brand  user_id  price_new
category_code
                                 4059     4059       4059
computers.components.cooler       217      217        217
computers.components.hdd          725      725        725
computers.desktop                 174      174        174
computers.notebook               3922     3922       3922
computers.peripherals.keyboard    127      127        127
computers.peripherals.mouse       256      256        256
construction.tools.screw         1254     1254       1254
electronics.audio.headphone      9568     9568       9568
electronics.clocks               5799     5799       5799
electronics.smartphone          46030    46030      46030
electronics.tablet               2578     2578       2578
                        event_time  order_id  product_id  category_id  brand  \
category_code
electronics.smartphone       46030     46030       46030        46030  46030

                        user_id  price_new
category_code
electronics.smartphone    46030      46030
Index(['electronics.smartphone'], dtype='object', name='category_code')

In [19]:
data1[data1['price_new']==data1['price_new'].max()].head(1)

,event_time,order_id,product_id,category_id,category_code,brand,user_id,price_new
16698,2020-05-26 07:07:18 UTC,2317410142749982986,1515966223509130727,2268105409409581056.0,computers.desktop,apple,1515915625441849088.0,6018.5

#### 11. В каком количестве заказов есть товар, который стоит более 40% от суммы всего чека?

Возможно, будет удобно посчитать отдельно средний чек, добавить его в исходные данные и сделать необходимые проверки.

In [21]:
r = data.groupby('order_id')
checks = r['price_new'].sum()
print(checks)
data['check'] = data['order_id'].map(checks)
data.loc[data['price_new'] > 0.40 * data['check']]['order_id'].nunique()

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000002300202BFD0>
order_id
2294359932054536986     324.02
2294444024058086220     155.04
2294584263154074236     217.57
2295716521449619559      39.33
2295740594749702229    5548.04
                        ...
2388440981134693940      16.18
2388440981134693941    2106.44
2388440981134693942     138.87
2388440981134693943     418.96
2388440981134693944     107.34
Name: price_new, Length: 1435266, dtype: float64

1382046

#### 12. Предположим, что в данных была ошибка и товар с product_id 1515966223509089906, который стоил 162.01, должен был стоить 170,02. Скорректируйте данные в таблицы и посчитайте, на какой процент больше денег было заработано с этого товара. Не забывайте, что количество товара не всегда равно 1.

In [21]:
old_sum = data[data['product_id'] == 1515966223509089906].sum()['price_new']
data.loc[(data['product_id']  == 1515966223509089906), 'price_new'] = 170.02
new_sum = data[data['product_id'] == 1515966223509089906].sum()['price_new']
print("Заработали: ", old_sum)
print("Заработали бы: ", new_sum)
print("Проценты: ", (new_sum / old_sum ) * 100 - 100)

Заработали:  143216.84000000003
Заработали бы:  150297.68000000002
Проценты:  4.944139250663525

C:\Users\microb\AppData\Local\Temp\ipykernel_5044\3346036934.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  old_sum = data[data['product_id'] == 1515966223509089906].sum()['price_new']
C:\Users\microb\AppData\Local\Temp\ipykernel_5044\3346036934.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  new_sum = data[data['product_id'] == 1515966223509089906].sum()['price_new']

#### 13. Создайте новый DateFrame из матрицы, созданной ниже. Назовите колонки index, column1, column2 и сделайте первую колонку индексом.

In [22]:
import numpy as np
new = np.random.rand(10, 3)

data_random = pd.DataFrame(new, columns=['index', 'column1', 'column2'])
data_random = data_random.set_index('index')
print(data_random)
data_random.to_csv('rand_data.csv', header=False, index=False)

           column1   column2
index
0.768652  0.062182  0.753502
0.988461  0.324520  0.462665
0.104583  0.676079  0.735431
0.091115  0.309561  0.886666
0.749499  0.399021  0.621874
0.488865  0.826099  0.173693
0.400970  0.961284  0.503528
0.425239  0.505942  0.240836
0.560335  0.856619  0.712955
0.098421  0.865363  0.076979

Сохраните DataFrame локально в формате csv без индексов и названий столбцов.

## 2. Визуализации и matplotlib

Библиотека matplotlib - это бибилиотека двумерной графики для языка программирования python с помощью которой можно создавать высококачественные рисунки различных форматов. Matplotlib представляет собой модуль-пакет для python.
Matplotlib cостоит из множества модулей. Модули наполнены различными классами и функциями, которые иерархически связаны между собой.

In [23]:
%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib.pyplot as set_ylim
import matplotlib.pyplot as set_xlim

На самом деле мы уже импортировали matplotlib внутри %pylab inline в начале задания.

Работать мы будем с той же выборкой покупкок. Добавим новую колонку с датой покупки.

In [24]:
import datetime
import random
import seaborn as sns
start = datetime.datetime(2020, 5, 24)
end = datetime.datetime(2020, 6, 12)
delta_seconds = int((end - start).total_seconds())

dates = pd.DataFrame(index=data.order_id.unique())
dates['date'] = [
(start + datetime.timedelta(seconds=random.randint(0, delta_seconds))).strftime('%Y-%m-%d')
for _ in range(data.order_id.nunique())]

# если DataFrame с покупками из прошлого заказа называется не df, замените на ваше название ниже
data['date'] = data.order_id.map(dates['date'])

ModuleNotFoundError: No module named 'seaborn'

#### 1. Постройте гистограмму распределения сумм покупок и гистограмму средних цен отдельных видов продуктов product_id. 

Изображайте на двух соседних графиках. Для используйте subplot.

In [ ]:
plt.figure(figsize=(14, 6))
plt.subplot(1, 2, 1)
sns.distplot(data.groupby('order_id')['price_new'].sum(), label='сумма покупок', color='green')
plt.xlabel('Сумма')
plt.ylabel('Вероятность')
plt.legend()
plt.subplot(1, 2, 2)
sns.distplot(data.groupby('product_id')['price_new'].mean(), label='средние цен', color='yellow');
plt.xlabel('Средняя цена')
plt.ylabel('Вероятность')
plt.legend()

#### 2. Постройте график зависимости суммы покупок от дней.

In [ ]:
plt.figure(figsize=(10, 10))
series = data.groupby(['date', 'order_id'])['price_new'].sum().groupby('date').sum()
x = series.index
y = series.values
plt.scatter(x, y)
plt.plot(x, y, label='График зависимости', color='red')
plt.xticks(x, rotation='vertical')
plt.xlabel('Дата')
plt.ylabel('Сумма продаж за 1 день')
plt.legend()

#### 3. Постройте средних сумм покупок по дням недели (bar plot).

In [ ]:
plt.figure(figsize=(7, 5))
data['date'] = pd.to_datetime(data['date'])
data['weekday'] = data['date'].dt.weekday
bar_data = data.groupby('weekday')['price_new'].sum()
x = bar_data.index
y = bar_data.values
sns.barplot(x, y, label='Средних сумм покупок по дням недели')
plt.xlabel('День недели')
plt.ylabel('Средняя сумма')
plt.legend()

#### 4. Постройте график зависимости денег за товар от купленного количества (scatter plot).

In [ ]:
plt.figure(figsize=(10, 7))
data['numcounts'] = data['product_id'].values
x = data['numcounts']
y = data['price_new'].values
sns.scatterplot(x, y, label='График зависимости')
plt.xlabel('Величина')
plt.ylabel('Цена')
plt.legend()

Сохраните график в формате pdf (так он останется векторизованным).

In [ ]:
plt.savefig('Figure.pdf')

Кстати, существует надстройка над matplotlib под названием [seaborn](https://jakevdp.github.io/PythonDataScienceHandbook/04.14-visualization-with-seaborn.html). Иногда удобнее и красивее делать визуализации через неё.